* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Orpheus Pro', serif;
    background-color: #f8f9fa;
}

:root {
    --main-color: rgb(145, 51, 51); 
    --accent-color: rgb(223, 152, 152);
    --secondary-color: rgb(170, 70, 70);
    --background-color: #f8f9fa;
    --sidebar-background: #212529;
    --button-color: rgb(145, 51, 51); 
    --button-hover-color: #d9534f;
}

.btn-primary, .add-to-cart, .learn-more {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover, .add-to-cart:hover, .learn-more:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: var(--main-color);
    min-height: 100vh;
    color: #fff;
    padding-top: 20px;
}

#sidebar .nav-link {
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    text-transform: uppercase;
}

.nav-link.active {
    background-color: var(--main-color) !important;
    color: #fff !important;
}


#sidebar .nav-link:hover {
    background-color: var(--button-hover-color);
    color: #fff;
}

#content {
    padding: 20px;
    background-color: var(--background-color);
    margin-left: 250px;
    width: calc(100% - 250px);
}

#content h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 20px;
}

.card {
    width: 220px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    background: lightgrey;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
}

.card-header {
    background-color: var(--main-color);
    color: white;
    font-weight: 600;
}

.card-body {
    background-color: #fff;
    padding: 15px;
}

.text-primary {
    color: var(--main-color) !important;
}
